html{
    margin-left: 25%;
    margin-right: 25%;
    padding: 0;
    height: 100%;
    display: flex;
    justify-self: center;
    align-items: center;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    flex-wrap: wrap;
    -webkit-user-drag: none;
}
.cell{
    display: flex;
    border: 1px solid lightblue;
    box-sizing: border-box;

}